.title {
    text-align: center;
    font-size: 60px;
    color: #0281DF;
    text-shadow: 4px 3px #01499B;
    
}

.bodyhome {
    background-image: url(https://codehs.com/uploads/381fc2f20941aae9777dde21124966e5);
	background-repeat: no-repeat;
	background-size: 100%;
        background-position: top;
	margin: 0px;
	background-color: #3A7AA9;
}

.bodyhome2 {
    background-image: url(https://codehs.com/uploads/7d6456bdbebec631c57598af9522c03b);
	background-repeat: no-repeat;
	background-size: 120%;
        background-position: top;
	margin: 0px;
	background-color: #3A7AA9;
}

.bodyhome3 {
    background-image: url(https://codehs.com/uploads/928cd5b1b60a221bb9c3e85bb8fe1043);
	background-repeat: no-repeat;
	background-size: 120%;
        background-position: top;
	margin: 0px;
	background-color: #3A7AA9;
}


.bodyhome4 {
    background-image: url(https://codehs.com/uploads/7a9d064d670e90bc8283cdc2b8d98b05);
	background-repeat: no-repeat;
	background-size: 120%;
        background-position: top;
	margin: 0px;
	background-color: #3A7AA9;
}

.bodyhome5 {
    background-image: url(https://codehs.com/uploads/bd7d849d582579fa255da997e4ad671f);
	background-repeat: no-repeat;
	background-size: 120%;
        background-position: top;
	margin: 0px;
	background-color: #3A7AA9;
}


.names {
    color: #33FFC1
    
}

.right {
    color: #B06AE7;
    font-size: 50px;
    font-style: italic;
    text-shadow: 4px 3px #8B50B9;
}

button {
  border: none;
  cursor: pointer;
  background-color: inherit;
  margin-right: 100px;
  position: absolute;
  right: 32px;
  bottom: 400px;
}

button:hover {
    cursor: pointer;
    filter: brightness(2);
}

.storytext {
    text-align: left;
    font-size: 45px;
    color: #0281DF;
    text-shadow: 4px 3px #01499B;
}
